<style>
  body {
    width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .navbar {
    display: none;
  }
</style>

<!-- component -->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<div class="bg-no-repeat bg-cover bg-center relative" style="background-image: url(https://images7.alphacoders.com/740/740446.jpg)">
  <div class="absolute bg-gradient-to-b from-neutral-500 to-purple-400 opacity-75 inset-0 z-0"></div>
  <div class="min-h-screen sm:flex sm:flex-row mx-0 justify-center">
    <div class="flex-col flex  self-center p-10 sm:max-w-5xl xl:max-w-2xl  z-10">
      <div class="self-start hidden lg:flex flex-col  text-white">
        <img src="" class="mb-3">
        <h1 class="mb-3 font-bold text-5xl">Hi ? Welcome To Poly Truyen Panel </h1>
        <p class="pr-3">Trang quản trị của Poly Truyen dành riêng cho quản trị viên</p>
      </div>
    </div>
    <div class="flex justify-center self-center  z-10">
      <form class="p-12 bg-white mx-auto rounded-2xl w-100" method="POST" action="/sign/in">
        <div class="mb-4">
          <h3 class="font-semibold text-2xl text-gray-800">Sign In </h3>
          <p class="text-gray-500">Please sign in to your account.</p>
        </div>
        <div class="space-y-5">
          <div class="space-y-2">
            <label class="text-sm font-medium text-gray-700 tracking-wide">Email</label>
            <input required autocomplete="off" id="email" class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="text" placeholder="mail@gmail.com">
          </div>
          <div class="space-y-2">
            <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
              Password
            </label>
            <input required autocomplete="off" id="password" class="w-full content-center text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" type="password" placeholder="Enter your password">
          </div>
          <div class="flex items-center justify-between">
            <!-- <div class="flex items-center">
              <input id="remember_me" name="remember_me" type="checkbox" class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded">
              <label for="remember_me" class="ml-2 block text-sm text-gray-800">
                Remember me
              </label>
            </div>
            <div class="text-sm">
              <a href="#" class="text-green-400 hover:text-green-500">
                Forgot your password?
              </a>
            </div> -->
          </div>
          <div>
            <button type="submit" class="w-full flex justify-center bg-green-400  hover:bg-green-500 text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
              Sign in
            </button>
          </div>
        </div>
        <div class="pt-5 text-center text-gray-400 text-xs">
          <span>
            Copyright © 2021-2024
            <a href="https://github.com/mwarevn" rel="" target="_blank" title="mwarevn" class="text-green hover:text-green-500 ">mwarevn</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const form = document.querySelector('form');
  const email = document.getElementById('email');
  const password = document.getElementById('password')

  form.onsubmit = e => {
    e.preventDefault();

    var loginPayload = {
      email: email.value,
      password: password.value
    }

    fetch('in', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(loginPayload)
      })
      .then(res => res.json())
      .then(res => {
        if (res._id) {
          Swal.fire({
              title: "Welcome back " + res.fullName,
              text: "Successfully authenticated!",
              icon: "success"
            })
            .then(res => {
              if (res.isConfirmed) {
                window.location.replace('/home')
              }
            })
        } else {
          Swal.fire({
            title: "Error",
            text: res.msg,
            icon: "error"
          });
        }

      })

  }
</script>