<!DOCTYPE html>
<html lang="en" data-theme="nord">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Poly Truyen</title>

  <!-- swalalert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- ToastifyJs -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-button,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track {
      width: 0;
      height: 0;
    }
  </style>

</head>

<body class="bg-slates-200 mx-auto p-5 pb-0" style="width: 1350px;">
  <%- include('./partials/header.ejs') %> <%- body %> <%- include('./partials/footer.ejs') %>
</body>

</html>